laguage: bash
services: docker
script:
  - docker-compose build
before_deploy:
  - echo "${DOCKER_PASSWORD}" | docker login --username "${DOCKER_USERNAME}" --password-stdin
deploy:
  provider: script
  script:
      docker push stephany/simple-message-api-spring-backend;
      docker push stephany/simple-message-api-spring-mysql;
  on:
    branch: master
notifications:
  email: false